html {
  scroll-behavior: smooth;
}

/* Estilos para el modo oscuro */
.boton-color {
  color: black;
}

.light {
  background-color: #b2cff2;
  color: #1f2937;
}

.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.custom-scale-animation {
  animation: scaleAnimation 3s infinite;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: animation 3s infinite;
}

.destacados {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.282);
  background-color: #74aef46c;
  border-radius: 0;
  border-top: 3px solid #4e98f3;
  border-bottom: 3px solid #4e98f3;
}

.ubicacion {
  border: 2px solid #4e98f3;
  background-color: #78aff1b0;
}

@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 45rem;
    margin: 0 auto;
  }
  .products {
    display: flex;
    flex-direction: column;
    width: 55rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.logo {
  background-color: #74aef46c;
  border-radius: 8px;
  animation: shadowMove 2s infinite, slideInFromTop 1.3s;
}

@keyframes shadowMove {
  0% {
    box-shadow: 0px 0px 20px #1c64f2;
  }
  50% {
    box-shadow: 0px 0px 30px #02318f;
  }
  100% {
    box-shadow: 0px 0px 20px #2868e9;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.create {
  box-shadow: 0px 0px 20px #1c64f2;
}
