html {
  scroll-behavior: smooth;
}

/* Estilos para el modo oscuro */
.boton-color {
  color: black;
}

.light {
  background-color: #a4cafe;
  color: #1f2937;
}

.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.custom-scale-animation {
  animation: scaleAnimation 3s infinite;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: animation 3s infinite;
}

.destacados {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.282);
  background-color: #78aff1b0;
  border-radius: 0;
  border-top: 3px solid #1c64f2;
  border-bottom: 3px solid #1c64f2;
}

.ubicacion {
  border: 2px solid #1c64f2;
  background-color: #78aff1b0;
}

/* NUEVO ESTILO */
/* .destacados {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.282);
  background-color: #046c4fd0;
  border-radius: 0;
  border-top: 3px solid #d45660;
  border-bottom: 3px solid #d45660;
}

.ubicacion {
  border: 2px solid #d45660;
  background-color: #047c5ad0;
} */

/* --------------------------------------------- */

@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 45rem;
    margin: 0 auto;
  }
  .products {
    display: flex;
    flex-direction: column;
    width: 55rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.logo {
  background-color: #74aef46c;
  border-radius: 8px;
  animation: shadowMove 2s infinite, slideInFromTop 1.3s;
}

/* ESTILO NUEVO */
/* @keyframes shadowMove {
  0% {
    box-shadow: 0px 0px 20px #067958;
  }
  50% {
    box-shadow: 0px 0px 30px #034834;
  }
  100% {
    box-shadow: 0px 0px 20px #088c67;
  }
} */

@keyframes shadowMove {
  0% {
    box-shadow: 0px 0px 30px #1a64f6;
  }
  50% {
    box-shadow: 0px 0px 40px #013aac;
  }
  100% {
    box-shadow: 0px 0px 30px #256bf6;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* FOOTER URL */

/* .create {
  box-shadow: 0px 0px 20px #1c64f2;
} */

.url {
  border: 2px solid #1c64f2;
  background-color: #4e98f348;
  padding: 0.4rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* background-color: #8ab8f1c3; */
  width: 60%;
  margin: auto;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #90bef9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 20px;
  animation: shadowMove 2s infinite, slideInFromTop 1.3s;
  border: 2px solid #1c64f2;
}

.card p {
  z-index: 1;
  margin-left: 1rem;
  color: #1f2937;
  font-weight: 600;
  font-size: 1.1rem;
}

.card::before {
  content: "";
  position: absolute;
  width: 85px;
  background-image: linear-gradient(180deg, #003193, #025efe);
  height: 150%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #90bef9;
  inset: 5px;
  border-radius: 15px;
}
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */
