@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para las flechas del slider */
.slick-prev:before,
.slick-next:before {
  @apply text-blue-500; /* Cambia el color a cualquier color de Tailwind CSS que desees */
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.link-transition {
  animation: slideIn 0.7s ease-in-out forwards;
  transform: translateX(-1000%);
}

@keyframes slideIn {
  to {
    transform: translateX(0%);
  }
}

.custom-toast {
  border: 2px solid #3498db;
  padding: 10px;
}
